@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-y: scroll;
}